* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    
}

.Hello {
    background-color: #e5e5e5;
    float: left;
    width: 100%;
    text-align: center;
}

.menu {
    float: left;
    text-align: center;
    width: 20%;    
}

.menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    
    
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

#marquee {
    background-color: white;
    color: black;
    border: 4px solid black;
    float: left;
    font-size: 10%px;
    width: 100%;
    padding: 0;

}